<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" routerLink="" role="button"
          ><i class="fa-brands fa-facebook"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" routerLink="" role="button"
          ><i class="fa-brands fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" routerLink="" role="button"
          ><i class="fa-brands fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" routerLink="" role="button"
          ><i class="fa-brands fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" routerLink="" role="button"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" routerLink="" role="button"
          ><i class="fa-brands fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
                <label class="form-label" for="form5Example21">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0"> 
            <h5 class="text-uppercase">Cameras</h5> 
            <ul class="list-unstyled mb-0">
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">Canon</a>
              </li>
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">Sony</a>
              </li>
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">Nikon</a>
              </li>
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">Olympus</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Cameras</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">Fujifilm</a>
              </li>
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">Panasonic</a>
              </li>
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">Leica</a>
              </li>
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">GoPro</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Photography</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">Wildlife</a>
              </li>
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">Wedding</a>
              </li>
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">Fashion</a>
              </li>
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">Food</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Tools</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">Triopod</a>
              </li>
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">Lens</a>
              </li>
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">SD card</a>
              </li>
              <li>
                <a routerLink="" class="text-white ps-2 pe-2">Bag</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white"routerLink="">Photography.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
