body {
    background-color: black;
}
a{
    text-decoration: none;
}

@media screen and (max-width:1000px){
    body{
        width:100vw;
        height: fit-content;
    }
    .word {
        display: none;
    }
}