<nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent fixed-top">
    <div class="container-fluid">
    <!-- <img [src]="img" [alt]="alt" height="100px" style="max-width:100%;"> -->
    <h1 class="navbar-brand ms-4 mt-4 p-2" routerLink="">{{logo}}</h1>
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-5 mt-3">
          <li class="nav-item">
            <li><a class="nav-link me-4 ms-4 active" routerLink="">{{home}}</a></li>
            <li><a class="nav-link me-4 ms-4" routerLink="/login">{{topics}}</a></li>
            <li><a class="nav-link me-4 ms-4" href="https://www.linkedin.com/in/eswara-sai-vamsi-rama-prakash-manugula">{{contact}}</a></li>
            <li><a class="nav-link me-4 ms-4" routerLink="/login">{{login}}</a> </li> 
        </ul>
      </div>    
    </div>
  </nav>
